.Dish__Container{
  text-align: center;
  background-color: green;
  border-radius: 14px;
  input{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-top:10px;
  }
}